@import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css');

body {
    font-family: 'Vazirmatn', sans-serif;
    direction: rtl;
}

/* بهینه‌سازی المان‌های فرم روی گوشی موبایل */
input[type="radio"] {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

input, select {
    font-family: inherit;
}
